body {}

bg-color {
    background-color: black;



}

nav {
    background-color: black;
}



.small-text {
    font-size: .8rem;
}

img {
    max-height: 10em;
}

img {
    max-height: 10em;
}

img {
    max-width: 1em;
}